.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;


}

.sections {
  flex-direction: row;
}

.nav {
  display: inline-block;
}

.logo {
  text-decoration-color: MediumAquamarine;

}
