.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;

}


.logo {
  color: mediumaquamarine;
}



li {
  display: inline-flex;
}

nav {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;


}

ul {
  justify-content: flex-end;
}
